<script id="czwartaZakladka" type="text/html">
    <h3 class="text-center">
        Pokaż na mapie trasę pomiędzy punktem startowym, a docelowym.
    </h3>
    
    <div class="row">
        <button type="button" class="btn btn-default btn-info col-md-3 col-md-offset-4" id="btnPokazTraseNaMapie">Pokaż wybraną trasę na mapie</button>
    </div>
    
    <!-- <div id="map" style="position:absolute; width:49%; height:100%; background:grey"></div> -->
    <div id="map" style="position:absolute; width:49%; height:800px; background:grey"></div>
    <div id="panel" style="position:absolute; width:49%; left:51%; height:100%; background:inherit"></div>
</script>